// !compileOnSave
/* Phones */
.phone-col-1 {
  @include column();
  min-width: 10%;
  width: 10%;
}
.phone-col-2 {
  @include column();
  width: 20%;
}
.phone-col-3 {
  @include column();
  width: 30%;
}
.phone-col-4 {
  @include column();
  width: 40%;
}
.phone-col-5 {
  @include column();
  width: 50%;
}
.phone-col-6 {
  @include column();
  width: 60%;
}
.phone-col-7 {
  @include column();
  width: 70%;
}
.phone-col-8 {
  @include column();
  width: 80%;
}
.phone-col-9 {
  @include column();
  width: 90%;
}
.phone-col-10 {
  @include column();
  width: 100%;
}
