// !compileOnSave

// Tablets
@media only screen and (min-width : $tablet-breakpoint) {
  .container {
    display: block;
    width: 80%;
    margin: 0 10%;
  }

  @for $i from 1 through $number-of-columns {
    .tablet-col-#{$i} {
      @include column($i);
    }
  }

  .phone-hide {
    display: block;
  }
  .tablet-hide {
    display: none;
  }
}
